# Prerequisites
*.d
.vscode/*
python/deprecated/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
build/*
deps/*
__pycache__/*

output/

.metals/
.bsp/
.scala-build/
design/
sim_pattern/
spi_experiments/
bmc_logs/
hls_experiment_action_40_with_cb/
hls_experiment_benchmarks/